dotenv
pandas
torch
openai
dask
pyarrow
wandb
scikit-learn
category-encoders
lightgbm
xgboost
catboost
python-telegram-bot
streamlit
numpy
cryptography
azure-identity
optuna
asciichartpy
tabulate
git+https://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@github.com/aprendesc/eigenlib.git
git+https://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@github.com/aprendesc/swarm-ml.git