dotenv
pandas
torch
openai
dask
pyarrow
wandb
scikit-learn
category-encoders
lightgbm
xgboost
catboost
python-telegram-bot
streamlit
numpy
cryptography
azure-identity
optuna
asciichartpy
tabulate
git+https://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@github.com/aprendesc/swarm-automations.git
git+https://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@github.com/aprendesc/swarm-intelligence.git
git+https://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@github.com/aprendesc/swarm-compute.git