dotenv
pandas
torch
openai
dask
pyarrow
wandb
scikit-learn
category-encoders
lightgbm
xgboost
catboost
python-telegram-bot
streamlit
numpy
cryptography
azure-identity
optuna
asciichartpy
tabulate
git+https://${GITHUB_TOKEN}@github.com/aprendesc/swarm-automations.git
git+https://${GITHUB_TOKEN}@github.com/aprendesc/swarm-intelligence.git
git+https://${GITHUB_TOKEN}@github.com/aprendesc/swarm-compute.git
git+https://${GITHUB_TOKEN}@github.com/aprendesc/eigenlib.git